body {
    background-image: url("https://www.shutterstock.com/image-illustration/4k-illustration-jungle-sunlight-260nw-1953566167.jpg");
    background-attachment: fixed;
    background-size: 100% 125%; 
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: rgb(111, 207, 52);
}

h1 {
    font-family: 'Russo One', sans-serif; 
    color: rgb(111, 207, 52);
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.instructions{
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
    padding: 5px;
    border:2px solid black;
    text-align: center;

}


.playerchoice {
    background-color: rgba(0,0,0,.5);
    border-radius: 8px;
    padding: 5px;
    border:2px solid black;
}

.characterchoice{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

button{
    background-color: rgb(111, 207, 52);
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

.fight{
    display: flex;
    align-items: center;
    justify-content: center;

}

.select{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 10px;
}

img{
    max-width: 200px;
    max-height: 200px;
    border:2px solid black;
    border-radius: 8px;

}